// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "button";
@import "cards";
@import "footer";
@import "form";

.card-product {
  overflow: hidden;
  height: 250px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 11px;
}

.card-product img {
  height: 100%;
  width: 240px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.row {
  display: flex;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#container-index {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.btn-primary {
  margin: 3px;
}

#container-bookings {
  width: 40%;
  align-items: center;
  space-between: center;
  padding: 10px;
}

#container-trash {
    display: flex;
    position: absolute;
    right: 16px;
    top: 170px;
    width: 40px;
    flex-direction: column;
    align-items: flex-end;
    width: 273px;
  }

@import "banner";
@import "cards";
@import "footer";
