.navbar-lewagon {
  justify-content: space-between;
  background: white;
  width: 100%;
  background-color: rgba(200,200,200,0.88);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

